

<h1>Contact Us</h1>

<p>Contact Details:</p>
<ul>
    <li>Email: <a href="mailto:help.dux@gmail.com">help.dux@gmail.com</a></li>
    <li>Phone: +359 89 998 9458</li>
</ul>

<p>Support Open:</p>
<ul>
    <li>Monday - Friday: 10:00 AM - 5:00 PM</li>
</ul>

<p>Message queries that are sent directly to the email <a href="mailto:help.dux@gmail.com">help.dux@gmail.com</a>.</p>
